[submodule "deps/binutils-gdb"]
	path = deps/binutils-gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "deps/llvm-project"]
	path = deps/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/13.x
